/*ange main photos on 2About.html*/
/*

.change_img{
    background: url(../img/main_Hand-Paint.jpg) center no-repeat;
    background-size: 100%;
    
    width: 100%;
    
    margin: 0 auto;
}

.change_img img{
    
}
*/
article .messages img{
    width: 100%;
    
}

   
article .join_us_btn{
    text-align: center;
    padding-bottom: 10%;
    width: 100%;
}
article .join_us_btn a{
    width:20%;
}

.messages p{
    color: #fff;
    position: absolute;
    white-space: pre-line;
    text-align: center;
    margin-top:-8%;

    padding-top: 1%;
    text-align: center;
    font-family: 'Roboto';
    font-size: 4em;
    text-shadow: 4px 4px 4px gray;
}

.messages p:nth-of-type(1){
    transform: translate(50%, 15%)
}
.messages p:nth-of-type(2){
    color: #000;
    white-space: pre-line;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    text-shadow: 4px 4px 4px gray;
    margin-top: 15%;
}

.graph {

    background-image:url(../img/main_charts.gif);
    background-size:contain;
    width: 100%;
    height:800px;
    margin:0 auto;
    background-repeat: no-repeat;

}

    


.graph ul{
    border: 1px solid #f00;
    position: absolute;
    list-style:none;
    width: 100%;
    height: 1100px;
}


.graph ul::after{
    content:"";
    display:block;
    clear:both;
}


.graph ul li{
    width: 50%;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 32px;
    color: #291c23;
    padding:2%;
}

.graph ul li:nth-of-type(1){
    margin-left: 10%;
    padding-top:5%;
    padding-bottom:13%;
    text-align: end;
}

.graph ul li:nth-of-type(2){
    margin-left: 18%;
    padding-bottom:10%;
    text-align:start;
}

.graph ul li:nth-of-type(3){
    margin-left: 12%;
    padding-top:6%;
    padding-bottom:%;
    text-align:end;
}

.graph ul li:nth-of-type(4){
    transform: translateY(-50%);
    left:100%;
    top:50%;
    
   
}
*/


@media (min-width:480px) and (max-width:767px){
    
    body{
        width: 100%;
        height: 500px;
    }
    .change img{
        width: 100%;
        height: 0;
    }
    
    article{
        
        min-height: 87vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    article .messages img{
        width: 100%;
    }
    
    article .join_us_btn{
       margin-bottom: 20%;
        
    }
    
    
}

@media (min-width:768px) and (max-width:1023px){
     article{
        
        min-height: 87vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
}

@media (min-width:1024px){}