main h1 {
    text-align: center;
    line-height: 1.6;
    font-size: 3.8vw;
    margin: 3% auto;
}


.search {
    margin: 6% auto;
    width: 40%;
    position: relative;
}

.search input {
    font-size: 0.9vw;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.search button {
    position: absolute;
    top: 23%;
    right: 2%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 4%;
}

.search button img {
    width: 100%;
}

.subapp {
    width: 80%;
    margin: 6% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subapp ul {
    width: 44%;
    border: 1px solid #b8b8b8;
    margin: 2%
}

.subapp ul li {
    border: 1px solid #b8b8b8;
    padding: 3%;
    font-size: 0.9vw;
}
.subapp ul li p{
    line-height: 1.8
}
.subapp ul li p strong {
    font-size: 1vw;
}

@media (max-width:1024px){
    main h1 {
    text-align: center;
    line-height: 1.6;
    font-size: 4vw;
    margin: 3% auto;
}


.search {
    margin: 4% auto;
    width: 50%;
    position: relative;
}

.search input {
    font-size: 1.5vw;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.search button {
    position: absolute;
    top: 22%;
    right: 2%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 5%;
}

.search button img {
    width: 100%;
}

.subapp {
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subapp ul {
    width: 46%;
    border: 1px solid #b8b8b8;
    margin: 2%
}

.subapp ul li {
    border: 1px solid #b8b8b8;
    padding: 3%;
    font-size: 1.3vw;
}
.subapp ul li p{
    line-height: 1.7
}
.subapp ul li p strong {
    font-size: 1.5vw;
}
}
@media (max-width:768px){
     main h1 {
    text-align: center;
    line-height: 1.5;
    font-size: 4.2vw;
    margin: 4% auto;
}


.search {
    margin: 5% auto;
    width: 60%;
    position: relative;
}

.search input {
    font-size: 2vw;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.search button {
    position: absolute;
    top: 20%;
    right: 2%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 6%;
}

.search button img {
    width: 100%;
}

.subapp {
    width: 88%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subapp ul {
    width: 100%;
    border: 1px solid #b8b8b8;
    margin: 3%
}

.subapp ul li {
    border: 1px solid #b8b8b8;
    padding: 2.3%;
    font-size: 2.2vw;
}
.subapp ul li p{
    line-height: 1.8
}
.subapp ul li p strong {
    font-size: 2.5vw;
}
}
@media (max-width:480px){
        main h1 {
    text-align: center;
    line-height: 1.4;
    font-size: 4.6vw;
    margin: 4% auto;
}


.search {
    margin: 5% auto;
    width: 70%;
    position: relative;
}

.search input {
    font-size: 3vw;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #ddd;

}

.search button {
    position: absolute;
    top: 20%;
    right: 2%;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 7.5%;
}

.search button img {
    width: 100%;
}

.subapp {
    width: 95%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subapp ul {
    width: 100%;
    border: 1px solid #b8b8b8;
    margin: 3%
}

.subapp ul li {
    border: 1px solid #b8b8b8;
    padding: 2.3%;
    font-size: 3vw;
}
.subapp ul li p{
    line-height: 1.6
}
.subapp ul li p strong {
    font-size: 3.5vw;
}
}


