@import url('a_1web_common.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');


.popup_box {
    width: 50%;

}

.popup_box .every {
    width: 100%;
    height: 100%;
    text-align: center;
}


.title_1 {
    margin: 2% auto;

}

.carts {
    margin-top: 8%;

}

.carts ul {
    width: 100%;
    /*
    justify-content: space-between;
    align-items: center;
*/

    /*
    width:80%
   
*/
}

.carts ul li {
    width: 100%;
}

.carts ul li img {
    width: 100%;
    padding: 2%;
    background-color: white;
    box-shadow: -12px 26px 39px 2px rgba(0, 0, 0, 0.5);

    border: 5px solid #000;
}


/*==============글============*/


ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carts ul li {
    width: 100%;
}

.carts ul li img {
    width: 80%;
    padding: 5%;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.carts ul li p {
    width: 100%;
    text-align: left;
    padding-left: 3%;
    font-family: 'roboto';
    font-size: 1.8vw;
}


/*==========버튼===============*/
.seemore {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 6% auto;
    margin-bottom: 4%;
}

.seemore button {
    width: 35%;
    padding: 2.5%;
    background: #fff;
    border: 1px solid #000;
    font-size: 1.7vw;
    color: #000;
}
.seemore button:hover {
    background: #f59e8e;
    border: 1px solid #000;
    color: #000;
}
