body {
    background-color: #f9f8f6;
}

/*=======Font google에서 불러온거===============*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/*========전체적으로 적용되는 코드============*/
header{
    div{
                    .menu {
                width: 30px;
                position: relative;



                .trigger-menu {
                    width: 100%;
                    transition: 0.5s;
                    display: inline-block;
                    position: relative;
                    z-index: 100;

                    span {
                        display: block;
                        width: 100%;
                        transition: 0.5s;
                        background-color: rgba(243, 243, 243, 0.555);
                        height: 3px;
                        margin: 4px;
                        
                    }

                    span:nth-of-type(1) {
                        transform: translateY(0px) rotate(0deg);
                    }

                    span:nth-of-type(2) {
                        transition: 0.5s;
                    }

                    span:nth-of-type(3) {
                        transform: translateY(0px) rotate(0deg);
                    }



                    &.active span:nth-of-type(1) {
                        transform: translateY(5px) rotate(405deg);
                    }

                    &.active span:nth-of-type(2) {
                        transition: 0.5s;
                        display: none;
                    }

                    &.active span:nth-of-type(3) {
                        transform: translateY(-3px) rotate(-405deg);
                    }

                }


                p {

                    display: none;

                    padding:2%;
                    text-align: center;
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: 10;

                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);


                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    font-size: 26px;

                   
                   


                    a {
                            
                    font-family: 'Arial';
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 0.75;
                    font-style: italic;


                        padding: 20px 0;
                        font-size: 3rem;
                        display: block;

                        white-space: normal;
                        color: #fff;

                        text-align: center;
                        transition: 0.5s;



                       
                           

                        &:nth-child(1):hover{
                            opacity: 10;
                            color:white;
                            text-shadow: 0 0 100px #ffffff; 
                            font-style: normal;
                            animation:flashText .5s ease-out alternate infinite;
                        }
                        
                        &:nth-child(2):hover{
                            opacity: 10;
                            color:rgb(221, 63, 226);
                            text-shadow: 0 0 100px #ff7d7d; 
                            font-style: normal;
                        
                            animation:flashText .5s ease-out alternate infinite;
                        }

                        &:nth-child(3):hover{
                            opacity: 10;
                            color:white;
                            text-shadow: 0 0 100px #ffffff; 
                            font-style: normal;
                            animation:flashText .5s ease-out alternate infinite;
                        }

                        &:nth-child(4):hover{
                            opacity: 10;
                            color:white;
                            text-shadow: 0 0 100px #ffffff; 
                            font-style: normal;
                            animation:flashText .5s ease-out alternate infinite;
                            font-style: normal;
                        }

                        &:nth-child(5):hover{
                            opacity: 10;
                            color:#f00;
                            text-shadow: 0 0 100px rgb(255, 255, 255); 
                        
                            animation:flashText .5s ease-out alternate infinite;
                        }

                        &:nth-child(6):hover{
                            opacity: 10;
                            color:#f00;
                            text-shadow: 0 0 100px #fff; 
                        
                            animation:flashText .5s ease-out alternate infinite;
                        }


                    }
                    @keyframes flash{
                        to {
                          opacity: 1;
                          
                        }
                      }
                      
                      @keyframes flashText {
                        to {
                          opacity: 0.15;
                          
                        }
                      }



                    &.active {
                        display: flex;
                    }
                    

                }
            }

        }
    }
}